<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jmsoftware.authcenter.permission.mapper.PermissionMapper">
    <resultMap type="com.jmsoftware.authcenter.permission.entity.PermissionPersistence" id="PermissionMap">
        <result property="id" column="id" jdbcType="INTEGER"/>
        <result property="url" column="url" jdbcType="VARCHAR"/>
        <result property="description" column="description" jdbcType="VARCHAR"/>
        <result property="type" column="type" jdbcType="INTEGER"/>
        <result property="permissionExpression" column="permission_expression" jdbcType="VARCHAR"/>
        <result property="method" column="method" jdbcType="OTHER"/>
        <result property="sort" column="sort" jdbcType="INTEGER"/>
        <result property="parentId" column="parent_id" jdbcType="INTEGER"/>
        <result property="deleted" column="deleted" jdbcType="INTEGER"/>
        <result property="createdTime" column="created_time" jdbcType="TIMESTAMP"/>
        <result property="modifiedTime" column="modified_time" jdbcType="TIMESTAMP"/>
    </resultMap>

    <select id="queryById" resultMap="PermissionMap">
        SELECT id,
               url,
               description,
               type,
               permission_expression,
               method,
               sort,
               parent_id,
               deleted,
               created_time,
               modified_time
        FROM permission
        WHERE id = #{id}
    </select>

    <select id="queryAllByLimit" resultMap="PermissionMap">
        SELECT id,
               url,
               description,
               type,
               permission_expression,
               method,
               sort,
               parent_id,
               deleted,
               created_time,
               modified_time
        FROM permission
        LIMIT #{offset}, #{limit}
    </select>

    <select id="queryAll" resultMap="PermissionMap">
        SELECT id,
               url,
               description,
               type,
               permission_expression,
               method,
               sort,
               parent_id,
               deleted,
               created_time,
               modified_time
        FROM permission
        <where>
            <if test="id != null">
                AND id = #{id}
            </if>
            <if test="url != null and url != ''">
                AND url = #{url}
            </if>
            <if test="description != null and description != ''">
                AND description = #{description}
            </if>
            <if test="type != null">
                AND type = #{type}
            </if>
            <if test="permissionExpression != null and permissionExpression != ''">
                AND permission_expression = #{permissionExpression}
            </if>
            <if test="method != null">
                AND method = #{method}
            </if>
            <if test="sort != null">
                AND sort = #{sort}
            </if>
            <if test="parentId != null">
                AND parent_id = #{parentId}
            </if>
            <if test="deleted != null">
                AND deleted = #{deleted}
            </if>
            <if test="createdTime != null">
                AND created_time = #{createdTime}
            </if>
            <if test="modifiedTime != null">
                AND modified_time = #{modifiedTime}
            </if>
        </where>
    </select>

    <insert id="insert" keyProperty="id" useGeneratedKeys="true">
        INSERT INTO permission(url, description, type, permission_expression, method, sort, parent_id, deleted,
                               created_time, modified_time)
        VALUES (#{url}, #{description}, #{type}, #{permissionExpression}, #{method}, #{sort}, #{parentId}, #{deleted},
                #{createdTime}, #{modifiedTime})
    </insert>

    <update id="update">
        UPDATE permission
        <set>
            <if test="url != null and url != ''">
                url = #{url},
            </if>
            <if test="description != null and description != ''">
                description = #{description},
            </if>
            <if test="type != null">
                type = #{type},
            </if>
            <if test="permissionExpression != null and permissionExpression != ''">
                permission_expression = #{permissionExpression},
            </if>
            <if test="method != null">
                method = #{method},
            </if>
            <if test="sort != null">
                sort = #{sort},
            </if>
            <if test="parentId != null">
                parent_id = #{parentId},
            </if>
            <if test="deleted != null">
                deleted = #{deleted},
            </if>
            <if test="createdTime != null">
                created_time = #{createdTime},
            </if>
            <if test="modifiedTime != null">
                modified_time = #{modifiedTime},
            </if>
        </set>
        WHERE id = #{id}
    </update>

    <delete id="deleteById">
        DELETE
        FROM permission
        WHERE id = #{id}
    </delete>

    <select id="selectPermissionListByRoleIdList" resultMap="PermissionMap">
        SELECT DISTINCT permission.id,
                        permission.url,
                        permission.type,
                        permission.permission_expression AS permissionExpression,
                        permission.method
        FROM permission
               LEFT JOIN role_permission ON permission.id = role_permission.permission_id
               LEFT JOIN role ON role.id = role_permission.role_id
        WHERE role.id IN
        <foreach item="item" index="index" collection="list" open="(" separator="," close=")">
            #{item}
        </foreach>
    </select>

    <select id="selectPermissionListByUserId" resultMap="PermissionMap">
        SELECT permission.id,
               permission.url,
               permission.type,
               permission.permission_expression AS permissionExpression,
               permission.method
        FROM permission
                 LEFT JOIN role_permission ON permission.id = role_permission.permission_id
                 LEFT JOIN role ON role_permission.role_id = role.id
                 LEFT JOIN user_role ON role.id = user_role.role_id
                 LEFT JOIN user ON user_role.user_id = user.id
        WHERE user.id = #{userId}
    </select>
</mapper>
