<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jmsoftware.maf.authcenter.permission.mapper.PermissionMapper">
    <resultMap id="BaseResultMap" type="com.jmsoftware.maf.authcenter.permission.entity.persistence.Permission">
        <!--@mbg.generated-->
        <!--@Table permission-->
        <id column="id" jdbcType="BIGINT" property="id"/>
        <result column="url" jdbcType="VARCHAR" property="url"/>
        <result column="description" jdbcType="VARCHAR" property="description"/>
        <result column="type" jdbcType="TINYINT" property="type"/>
        <result column="permission_expression" jdbcType="VARCHAR" property="permissionExpression"/>
        <result column="method" jdbcType="OTHER" property="method"/>
        <result column="sort" jdbcType="INTEGER" property="sort"/>
        <result column="parent_id" jdbcType="BIGINT" property="parentId"/>
        <result column="created_by" jdbcType="BIGINT" property="createdBy"/>
        <result column="created_time" jdbcType="TIMESTAMP" property="createdTime"/>
        <result column="modified_by" jdbcType="BIGINT" property="modifiedBy"/>
        <result column="modified_time" jdbcType="TIMESTAMP" property="modifiedTime"/>
        <result column="deleted" jdbcType="TINYINT" property="deleted"/>
    </resultMap>

    <sql id="Base_Column_List">
        <!--@mbg.generated-->
        id, url, description, `type`, permission_expression, `method`, sort, parent_id,
        created_by, created_time, modified_by, modified_time, deleted
    </sql>

    <select id="selectPermissionListByRoleIdList" resultMap="BaseResultMap">
        SELECT DISTINCT permission.id,
                        permission.url,
                        permission.type,
                        permission.permission_expression AS permissionExpression,
                        permission.method
        FROM permission
                     LEFT JOIN role_permission ON permission.id = role_permission.permission_id
                     LEFT JOIN role ON role.id = role_permission.role_id
        <where>
            permission.deleted = 0
            <if test="@cn.hutool.core.collection.CollUtil@isNotEmpty(roleIdList)">
                AND role.id IN
                <foreach item="item" collection="roleIdList" open="(" separator="," close=")">
                    #{item}
                </foreach>
            </if>
            <if test="@cn.hutool.core.collection.CollUtil@isNotEmpty(permissionTypeList)">
                AND permission.type IN
                <foreach item="item" collection="permissionTypeList" open="(" separator="," close=")">
                    #{item.type}
                </foreach>
            </if>
        </where>
    </select>
</mapper>
