<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "htpermission://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jmsoftware.apiportal.universal.mapper.PermissionMapper">
    <insert id="insertPermission" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO permission(url,
                               description,
                               type,
                               method,
                               created_time,
                               modified_time)
        VALUES (#{url},
                #{description},
                #{type},
                #{method},
                now(),
                now())
    </insert>

    <select id="selectByRoleIdList" resultType="com.jmsoftware.apiportal.universal.domain.PermissionPO">
        SELECT DISTINCT permission.id,
                        permission.url,
                        permission.description,
                        permission.type,
                        permission.permission_expression AS permissionExpression,
                        permission.method,
                        permission.sort,
                        permission.parent_id             AS parentId,
                        permission.created_time          AS createdTime,
                        permission.modified_time         AS modifiedTime,
                        permission.deleted
        FROM permission
                 LEFT JOIN role_permission ON permission.id = role_permission.permission_id
                 LEFT JOIN role ON role.id = role_permission.role_id
        WHERE role.id IN
        <foreach item="item" index="index" collection="list" open="(" separator="," close=")">
            #{item}
        </foreach>
    </select>

    <select id="countInUseApiByUrl" resultType="java.lang.Long">
        SELECT count(1)
        FROM permission
        WHERE url = #{url}
          AND type = 2
    </select>

    <select id="selectApisByUrlPrefix" resultType="com.jmsoftware.apiportal.universal.domain.PermissionPO">
        SELECT id,
               url,
               description,
               method
        FROM permission
        WHERE url LIKE concat(#{urlPrefix}, '%')
          AND type = 2
    </select>

    <select id="selectApiPageList" resultType="com.jmsoftware.apiportal.universal.domain.PermissionPO">
        SELECT permission.id,
               permission.url,
               permission.description,
               permission.permission_expression AS permissionExpression,
               permission.method,
               permission.sort,
               permission.created_time          AS createdTime,
               permission.modified_time         AS modifiedTime
        FROM permission
        WHERE permission.type = 2
          AND permission.deleted != 1
        ORDER BY permission.id DESC
    </select>
</mapper>
