<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jmsoftware.apiportal.universal.mapper.RoleMapper">
    <sql id="Base_Column_List">
            id,
            `name`,
            description,
            created_time,
            modified_time
    </sql>

    <resultMap id="BaseResultMap" type="com.jmsoftware.apiportal.universal.domain.RolePO">
        <result column="id" property="id"/>
        <result column="name" property="name"/>
        <result column="description" property="description"/>
        <result column="created_time" property="createdTime"/>
        <result column="modified_time" property="modifiedTime"/>
    </resultMap>

    <select id="selectByUserId" resultMap="BaseResultMap">
        SELECT role.id,
               role.name,
               role.description,
               role.created_time,
               role.modified_time
        FROM role
                 LEFT JOIN user_role ON role.id = user_role.role_id
                 LEFT JOIN user ON user_role.user_id = user.id
        WHERE user.id = #{userId}
    </select>

    <select id="selectPageList" resultMap="BaseResultMap">
        SELECT
        <include refid="Base_Column_List"/>
        FROM role
    </select>

    <select id="checkRoleName" resultType="java.lang.Integer">
        SELECT count(1)
        FROM role
        <where>
            <if test="id != null">
                id != #{id} AND name = #{name}
            </if>
            <if test="id == null">
                AND name = #{name}
            </if>
        </where>
    </select>

    <insert id="insertRole" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO role(name, description, created_time, modified_time)
        VALUES (#{name}, #{description}, now(), now())
    </insert>

    <select id="selectRoleByName" resultMap="BaseResultMap">
        SELECT id,
               name,
               description,
               created_time,
               modified_time
        FROM role
        WHERE name = #{name}
    </select>

    <update id="updateRoleById">
        UPDATE role
        SET name          = #{name},
            description   = #{description},
            modified_time = now()
        WHERE id = #{id}
    </update>

    <select id="selectRoleListForSelection" resultMap="BaseResultMap">
        SELECT id,
               name,
               description
        FROM role
    </select>
</mapper>
