<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jmsoftware.exercisemis.exercise.mapper.ExerciseMapper">
    <resultMap type="com.jmsoftware.exercisemis.exercise.domain.ExercisePo" id="ExerciseMap">
        <result property="id" column="id" jdbcType="INTEGER"/>
        <result property="name" column="name" jdbcType="VARCHAR"/>
        <result property="preparation" column="preparation" jdbcType="VARCHAR"/>
        <result property="execution" column="execution" jdbcType="VARCHAR"/>
        <result property="exerciseGifPath" column="exercise_gif_path" jdbcType="VARCHAR"/>
    </resultMap>

    <select id="selectById" resultMap="ExerciseMap">
        SELECT id,
               name,
               preparation,
               execution,
               exercise_gif_path
        FROM exercise
        WHERE id = #{id}
    </select>

    <select id="selectAll" resultMap="ExerciseMap">
        SELECT id,
               name,
               preparation,
               execution,
               exercise_gif_path
        FROM exercise
        <where>
            <if test="exercise.id != null">
                and id = #{exercise.id}
            </if>
            <if test="exercise.name != null and exercise.name != ''">
                and name LIKE concat('%', #{exercise.name}, '%')
            </if>
            <if test="exercise.preparation != null and exercise.preparation != ''">
                and preparation = #{exercise.preparation}
            </if>
            <if test="exercise.execution != null and exercise.execution != ''">
                and execution = #{exercise.execution}
            </if>
            <if test="exercise.exerciseGifPath != null and exercise.exerciseGifPath != ''">
                and exercise_gif_path = #{exercise.exerciseGifPath}
            </if>
        </where>
        <![CDATA[ ${exercise.orderByStatement} ]]>
    </select>

    <insert id="insert" keyProperty="id" useGeneratedKeys="true">
        INSERT INTO exercise(name,
                             preparation,
                             execution,
                             exercise_gif_path)
        VALUES (#{name},
                #{preparation},
                #{execution},
                #{exerciseGifPath})
    </insert>

    <update id="update">
        UPDATE exercise
        <set>
            <if test="name != null and name != ''">
                name = #{name},
            </if>
            <if test="preparation != null and preparation != ''">
                preparation = #{preparation},
            </if>
            <if test="execution != null and execution != ''">
                execution = #{execution},
            </if>
            <if test="exerciseGifPath != null and exerciseGifPath != ''">
                exercise_gif_path = #{exerciseGifPath},
            </if>
        </set>
        WHERE id = #{id}
    </update>

    <delete id="deleteById">
        DELETE
        FROM exercise
        WHERE id = #{id}
    </delete>
</mapper>
