<?xml version="1.0" encoding="UTF-8"?>
<configuration debug="true">
    <include resource="logback-configuration/logback-base.xml"/>

    <!-- Log Level -->
    <root level="INFO">
        <appender-ref ref="ASYNC_CONSOLE"/>
        <appender-ref ref="ASYNC_FILE"/>
        <appender-ref ref="ASYNC_LOGSTASH"/>
    </root>
</configuration>
