<?xml version="1.0" encoding="UTF-8"?>
<!-- The complete logback manual documents the latest version of logback framework at https://logback.qos.ch/manual/ -->
<included>
    <include resource="org/springframework/boot/logging/logback/defaults.xml"/>
    <jmxConfigurator/>

    <!-- Converter Class Configuration -->
    <conversionRule conversionWord="clr" converterClass="org.springframework.boot.logging.logback.ColorConverter"/>
    <conversionRule conversionWord="wex"
                    converterClass="org.springframework.boot.logging.logback.WhitespaceThrowableProxyConverter"/>

    <!-- Log Render Configuration -->
    <springProperty scope="context" name="APPLICATION" source="spring.application.name"/>
    <property name="CONSOLE_LOG_PATTERN"
              value="%clr(%d{yyyy-MM-dd HH:mm:ss.SSS}){faint} %clr(%5p) %clr(${PID:- }){magenta} %clr(-){faint} %clr([%15.15t]){blue} %clr(%-48.48logger{48}){cyan} %clr(:){faint} %m%n%wex"/>
    <property name="FILE_LOG_PATTERN"
              value="%d{yyyy-MM-dd HH:mm:ss.SSS} %5p ${PID:- } - [%t] %-48.48logger{48} : %m%n%wex"/>
    <!-- Log home is nothing related with Spring profiles or environments -->
    <property name="LOG_HOME" value="logs"/>

    <!-- Log for Multi Environment Configuration -->
    <springProfile name="development-local">
        <property name="ENVIRONMENT" value="development-local"/>
        <property name="LOGSTASH_HOST" value="localhost"/>
    </springProfile>
    <springProfile name="development-docker">
        <property name="ENVIRONMENT" value="development-docker"/>
        <property name="LOGSTASH_HOST" value="maf-logstash-${ENVIRONMENT}"/>
    </springProfile>
    <springProfile name="test">
        <property name="ENVIRONMENT" value="test"/>
        <property name="LOGSTASH_HOST" value="maf-logstash-${ENVIRONMENT}"/>
    </springProfile>
    <springProfile name="stage">
        <property name="ENVIRONMENT" value="stage"/>
        <property name="LOGSTASH_HOST" value="maf-logstash-${ENVIRONMENT}"/>
    </springProfile>
    <springProfile name="production">
        <property name="ENVIRONMENT" value="production"/>
        <property name="LOGSTASH_HOST" value="maf-logstash-${ENVIRONMENT}"/>
    </springProfile>

    <!-- CONSOLE Log Configuration -->
    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>${CONSOLE_LOG_PATTERN}</pattern>
            <charset>UTF-8</charset>
        </encoder>
    </appender>

    <!-- FILE Log Configuration -->
    <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <filter class="ch.qos.logback.classic.filter.LevelFilter">
            <level>ALL</level>
            <OnMatch>ACCEPT</OnMatch>
            <OnMismatch>ACCEPT</OnMismatch>
        </filter>

        <encoder>
            <pattern>${FILE_LOG_PATTERN}</pattern>
            <charset>UTF-8</charset>
        </encoder>

        <!-- Archive files essentially by date but at the same time limit the size of each log file, -->
        <!-- in particular if post-processing tools impose size limits on the log files. -->
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <!-- rollover daily -->
            <fileNamePattern>${LOG_HOME}/${APPLICATION}-${ENVIRONMENT}-${HOSTNAME}.%d{yyyy-MM-dd}.%i.log.gz</fileNamePattern>
            <!-- each file should be at most 5MB, keep 7 days worth of history, but at most 1GB -->
            <maxFileSize>5MB</maxFileSize>
            <maxHistory>7</maxHistory>
            <totalSizeCap>1GB</totalSizeCap>
        </rollingPolicy>
    </appender>

    <!-- LOGSTASH -->
    <appender name="LOGSTASH" class="net.logstash.logback.appender.LogstashTcpSocketAppender">
        <destination>${LOGSTASH_HOST}:4560</destination>
        <encoder charset="UTF-8" class="net.logstash.logback.encoder.LogstashEncoder">
            <customFields>{"appname": "${APPLICATION}"}</customFields>
        </encoder>
    </appender>
</included>
